[JPopSuki]
User: jps-user-here
Password: jps-pass-here
[SugoiMusic]
User: sm-user-here
Password: sm-pass-here
[Directories]
SMTorrents: SMTorrents
JPSTorrents: JPSTorrents
HTML: HTML
[Media]
# Specify a comma-delimitied list of all the directories that jps2sm should search for your media
# Examples:
#MediaDirectories: d:\Music, e:\BR-Rips
