beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.6
html5lib==1.0.1
idna==2.8
pytz==2019.3
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
urllib3==1.25.6
webencodings==0.5.1
pymediainfo==4.1
torrent-parser==0.3.0
humanfriendly==4.18
pyunpack==0.2.2
patool==1.12
