beautifulsoup4==4.8.1
bencoding==0.2.6
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
EasyProcess==1.1
entrypoint2==1.1
html2bbcode==2.3.3
html2phpbbcode==0.1.4
html5lib==1.0.1
humanfriendly==4.18
idna==2.8
patool==1.12
pymediainfo==4.1
pyreadline==2.1
pytz==2019.3
pyunpack==0.2.2
regex==2022.10.31
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
torrent-parser==0.3.0
urllib3==1.25.6
webencodings==0.5.1
